node_modules
ref.xls
ref.xls.txt
wrangler.jsonc

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.dev.vars

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
